<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let category of categories$ | async">
      <ion-label>{{ category.name }}</ion-label>
      <ion-button fill="clear" color="primary" [routerLink]="['/categories', category.id]">
        Editar
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="deleteCategory(category.id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand="block" routerLink="/tasks/new">Nueva Tarea</ion-button>
  <ion-button expand="block" routerLink="/categories/new">Nueva Categoría</ion-button>
</ion-content>
